:root {
  --main-bg-color: white;
  --main-color: black;
  --accent-bg-color: #393;
  --accent-color: #cfc;
  --secondary-bg-color: #eee;
  --secondary-color: #333;
  --secondary-border-color: #ccc;
  --quote-color: #393;
  --link-color: #00e;
  --link-visited-color: #551a8b;
  --link-active-color: #f00;
  --link-nav-color: white;
  --link-nav-visited-color: #ccc;
  --header-bg-color: black;
  --header-color: white;
  --mermaid-bg-color: #eee;
  --mermaid-color: #272822;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #111;
    --main-color: #eee;
    --secondary-bg-color: #333;
    --secondary-color: #eee;
    --secondary-border-color: #666;
    --link-color: #8bf;
    --link-visited-color: #a7e;
    --link-active-color: #f66;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

:link { color: var(--link-color); }
:visited { color: var(--link-visited-color); }
:link:active, :visited:active { color: var(--link-active-color); }

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#page-content > header {
  background-color: var(--header-bg-color);
  background-size: cover;
  color: var(--header-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-content > header h1 {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

#page-content > header img.logo {
  width: 1em;
}

nav {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 0.5em;
}

nav ul li a {
  font-weight: bold;
  color: var(--link-nav-color);
}

nav ul li a:visited {
  color: var(--link-nav-visited-color);
}

article.post header {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  font-size: 90%;
  border-bottom: 1px solid var(--secondary-border-color);
}

article.post header p {
  margin: 0;
}

article.summary header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

article.summary header h2 {
  margin-bottom: 0;
}

article.summary header time {
  padding: 0.2em;
  background-color: var(--accent-bg-color);
  color: var(--accent-color);
  border-radius: 0.2em;
}

article.summary header time a {
  color: var(--accent-color);
}

.tag {
  color: var(--accent-color);
  background-color: var(--accent-bg-color);
  border-radius: 0.2em;
  font-size: 80%;
  font-family: sans-serif;
  padding: 0.1em 0.2em;
  text-transform: capitalize;
}

main {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  max-width: 50rem;
}

footer {
  padding: 1rem;
  font-size: 80%;
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  border-top: 1px solid var(--secondary-border-color);
}

footer > p {
  margin: 0 auto;
  width: 80%;
  max-width: 50rem;
}

pre {
  padding: 0.5em;
  overflow-x: scroll;
}

article > pre {
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
}

article > pre.mermaid {
  color: var(--mermaid-color);
  background-color: var(--mermaid-bg-color);
}

blockquote {
  display: flex;
  margin: 0;
}

blockquote::before {
  content: '«';
  font-size: 200%;
  width: 1em;
  align-self: flex-start;
  text-align: start;
  color: var(--quote-color);
}

blockquote::after {
  content: '»';
  font-size: 200%;
  width: 1em;
  align-self: flex-end;
  text-align: end;
  color: var(--quote-color);
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > figure {
  margin-top: 1em;
}

article > figure {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  font-size: 90%;
  border-bottom: 1px solid var(--secondary-border-color);
  border-top: 1px solid var(--secondary-border-color);
}

figure img {
  width: 100%;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.7);
}

.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
