<!DOCTYPE html>
<html lang="{{ with .Params.LanguageCode }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
  {{- partial "head.html" . -}}
  <body>
    <div id="page">
      <div id="page-content">
        {{- partial "header.html" . -}}
        <main>
          {{- block "main" . }}{{- end }}
        </main>
      </div>
      {{- partial "footer.html" . -}}
    </div>
    {{ if .Store.Get "hasMermaid" }}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
    {{ end }}
  </body>
</html>