{{ define "main" }}
  {{ .Content }}
  {{ range .Data.Terms.Alphabetical }}
    <p class="tag">
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      <span class="count">({{ .Count }})</span>
    </p>
  {{ end }}
{{ end }}