{{ define "main" }}
  <article class="post">
    <header>
      <p>By {{ .Params.Author }}</p>
      <p>Posted on {{ .Date.Format "2 Jan 2006" }}
        <span class="tags">in
          {{ range .Params.Tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </span>
      </p>
      {{ with .Params.Image }}
        {{- partial "image.html" (dict "page" ($.Page) "image" . ) }}
      {{ end }}
    </header>
    {{ .Content }}
  </article>
{{ end }}