<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
  <link rel="icon" href="/images/ermine-black.svg">
  {{ range .AlternativeOutputFormats -}}
    {{- $link := `<link rel="%s" type="%s" href="%s" title="%s">` -}}
    {{- $title := printf "%s | %s" $.Page.Title $.Site.Title -}}
    {{- if $.Page.IsHome -}}
      {{ $title = $.Site.Title }}
    {{- end -}}
    {{ printf $link .Rel .MediaType.Type .Permalink $title | safeHTML }}
  {{- end -}}
  <!-- Open Graph -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with .Params.Image }}
    {{ $imageRes := $.Page.Resources.GetMatch . }}
    {{ $smallImageRes := $imageRes.Resize "1024x" }}
    <meta property="og:image" content="{{ $smallImageRes.Permalink }}" />
  {{ else with .OutputFormats.Get "svg" }}
    <meta property="og:image" content="{{ .Permalink }}" />
  {{ end }}
  {{ with .Params.LanguageCode }}
  <meta property="og:locale" content="{{ . }}" />
  {{ else }}
  <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
  {{ end }}
  <meta property="og:site_name" content="{{ .Site.Title }}" />
</head>