<header {{ with .OutputFormats.Get "svg" }} style="background-image: url('{{ .RelPermalink }}')"{{ end }}>
  <h1><img src="/images/ermine-white.svg" atl="" class="logo" /> {{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
    </ul>
  </nav>
</header>