{{ $imageRes := .page.Resources.GetMatch .image }}
{{ $smallImageRes := $imageRes.Resize "1024x" }}
{{ $dataFile := replaceRE `\.[^.]*$` ".json" .image }}
{{ $lightboxId := replaceRE `\.[^.]*$` "" .image }}
{{ $dataRes := .page.Resources.GetMatch $dataFile }}
{{ $data := dict }}
{{ with $dataRes }}
  {{ with . | transform.Unmarshal }}
    {{ $data = . }}
  {{ end }}
{{ end }}
<figure>
  <a href="#{{ $lightboxId }}">
    <img src="{{ $smallImageRes.RelPermalink }}" {{ with $data.description }}alt="{{ . }}"{{ end }} >
  </a>
  {{ with $data.caption }}
    <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>

<a href="#" class="lightbox" id="{{ $lightboxId }}">
  <span style="background-image: url('{{ $imageRes.RelPermalink }}')"></span>
</a>
