<article class="summary" lang="{{ with .Params.LanguageCode }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
  <header>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <time datetime="{{ .Date | dateFormat "2006-01-02" }}">
      {{ .Date | dateFormat "2" }}
      <a href="/posts/{{ .Date | dateFormat "2006/01" }}/">{{ .Date | dateFormat "January" }}</a>
      <a href="/posts/{{ .Date | dateFormat "2006" }}/">{{ .Date | dateFormat "2006" }}</a>
    </time>
</header>

  {{ .Summary }}
  
</article>