<section id="social">
  <h2>Social Media</h2>
  <ul>
    {{ range .Site.Data.social.accounts }}
      <li><a href="{{ .url }}" rel="me">{{ .name }}</a> <span class="tag">{{ .type }}</span></li>
    {{ end }}
  </ul>
</section>